body {
  font-family: tahoma;
  font-size: 1.1em;
  background-color:rgb(255, 255, 255);
}

.navbar-light .navbar-brand {
  color: rgb(252, 252, 252);
}

.navbar {
  background-color: rgb(252, 252, 252);
  width: 100%;
  padding: 0;
}

.navbar-brand {
  font-family: 'Tahoma', Tahoma, serif;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(20, 22, 150);
  padding: 10px;
  margin-left: 5%;
}

.navbar-collapse {
  position: absolute;
  right: 5%;
  font-size: small;
}

.nav-item {
  font-weight: bold;
}

.content {
  width:90%;
  margin: 20px auto;
  padding:1em;
}
  
.buttons {
  margin-bottom: .5em;
}

.text-left {
  text-align: left;
  color: rgb(20, 61, 150);
  font-family: 'Tahoma', Tahoma, serif;
  font-weight: bold;
}

.text-center {
  color: rgb(20, 61, 150);
  font-family: 'Tahoma', Tahoma, serif;
  font-weight: bold;
}

p:not(.intro) {
  text-align: justify;
  color: rgb(20, 61, 150);
}

.thumbnail {
  width:50%;
}

.main-image {      
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    float: left;
}

.col-md-8 {
  background-color: white;
}

.col-sm-12,.col-md-4 {
  background-color: white;
}

div.col-sm-12.col-md-12 div.col-lg-6.col-sm-12 img {
  width: 100%;
}

.imagetiles {
  background-color: white;
}
div.imagetiles div.col-lg-6.col-sm-12 img {
  width: 100%;
}

div.col-sm-12.col-md-12 p {
  color: black;
  font-size: small;
}

.panel-body:hover {
  border-color: rgb(226, 43, 43);
  border size: 50px;
}

@include media-breakpoint-down(md) {
  .col-md-8 {
    display: block;
  }
}